.selected {
    border: 2px solid green;
}

.my-card {
    height: 220px;
}

.conflicted {
    background-color: lightgray;
}

.conflicted .card-footer {
    background-color: lightgray !important
}

.editButton{
    margin-left: 15px;
    font-size: 18px;
}